body {
    margin: 0;
    background-color: #b8ff54;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header{
    display: flex;
    position: relative;
}

section{
    display: flex;
}

header {
    text-align: center;
    padding: 30px;
}

h1 {
    color: #4b0038;
    font-size: 90px;
}

.menu{
    position: absolute;
    top: 20px;
    right: 20px;

    background-color: orange;
    color: white;
    padding: 8px 15px;
    width: auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.banner {
    width: 100%;
    margin-top: 20px;
}

.titulo {
    color: #4b0038;
    font-size: 45px;
    margin-left: 30px;
}

.info {
    background-color: yellow;
    padding: 20px;
}

.card {
    background-color: yellow;
    border: 2px solid #4b0038;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

.card h3 {
    color: #4b0038;
}

.card p,
.card ul {
    font-size: 20px;
}

.galeria {
    background-color: #4b0038;
    text-align: center;
    padding: 40px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.galeria img {
    width: 250px;
    height: 250px;
    margin: 10px;
}

.servicos {
    background-color: yellow;
    padding: 20px;
}

footer {
    background-color: #b8ff54;
    padding: 30px;
    text-align: center;
}

.imagem-final {
    width: 90%;
    height: 350px;
    border-radius: 20px;
}

.frase {
    color: #4b0038;
    font-size: 40px;
}

.contato {
    font-size: 18px;
}