.identificacao{
     color: lightblue;
    }

    .galeria{
     width: 30%
    }

    body{
     background-color: lightcyan;
    display: flex;
    flex-direction: column;
    align-content: flex-start;}

     