.identificacao{
     color: lightblue;
    }

    .galeria{
     width: 30%
    }

    body{
     background-color: lightcyan;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.links{
     display: flex;
     flex-direction: column;
}

a{
    margin: 20px;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 20px;
}